    <style>
      /*wikipedia-style "external link" indicator*/
      a[target="_blank"] {
        background-image: url(/external-link-ltr-icon.svg);
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 13px;
      }

      .ascii-art {
        background-color: var(--header-bg-color);
        color: rgba(90,103,216,1);
        /* color: rgba(90,103,216,var(--text-opacity)); */
        /* color: rgba(226,232,240,var(--bg-opacity)); */
        border-bottom: 4px solid rgba(90,103,216,1);
        /* border-bottom: 4px solid rgba(90,103,216,var(--text-opacity)); */
        text-align: center;
        line-height: 1.1;
        font-weight: bold;
        font-size: clamp(0.5em, 2.4vw, 1.25em);
        margin: 0;
        /* margin-top: 42px; */
        /* margin-top: -10px; */
      }
      .ascii-art-chat-open {
        font-size: clamp(0.5em, calc(0.024 * calc(100vw - var(--right-col-width))), 1.25em);
      }


      /* https://stackoverflow.com/questions/47601564/equal-width-columns-in-css-grid#61240964 */
      .boxes { display: grid; grid-gap: 10px; grid-template-columns: 1fr 1fr; grid-template-rows: auto; margin: 10px; }

      .box {background-color: white; padding: 1%; border-radius: 12px; padding: 15px; min-width: 0}
      #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {font-size: revert; font-weight: revert; margin-top: 10px; margin-bottom: 10px}
      h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {text-align: center; }
      .box > img, .box > p > img, .box > a > img {max-width: min(650px, 100%); max-height: 650px; display:block; margin:10px auto;}
      .box button, label.toggle {border-radius: 5px; margin: 5px; padding: 6px 12px; background-color: rgba(90,103,216,1); color: white; text-align: center;}
      .box p {margin: revert;}
      .box p.mono {font-family: 'Monospace', sans-serif; font-size: smaller;}

      .flex-rc {display: flex; flex-direction: row;}
      .flex-cr {display: flex; flex-direction: column;}


      @media only screen and (max-width: 900px) {
        .boxes {grid-template-columns: auto;}
        .flex-rc {flex-direction: column;}
        .flex-cr {flex-direction: row;}
      }
      @media only screen and (max-width: 1235px) {
      /* @media only screen and (max-width: calc(900px + var(--right-col-width))) { */
        .boxes-chat-open {grid-template-columns: auto;}
        .flex-rc-chat-open {flex-direction: column;}
        .flex-cr-chat-open {flex-direction: row;}
      }

      body#app-body > section p {color: black;}
      a {color: #0099ff;}

      .nav {display: flex; flex-wrap: wrap; margin: 5px}
      .nav-link {flex-grow: 1; margin: 5px; padding: 6px 12px; text-align: center; text-decoration: none;}
      .nav-link-selected {background-color: rgba(90,103,216,1); color: white}

      html {line-height: 1.5; font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
      body {margin: 0; background-color: rgba(226,232,240,1);}

      ol {list-style-type: decimal; margin: 0px; padding: revert;}
      ul {list-style-type: disc; margin: 0px; padding: revert;}

      .box pre {overflow-x: auto; background-color: #111; color: white; padding: 10px; border-radius: 10px; margin: 3px}

      @media (prefers-color-scheme: dark) {
        .box {
          background-color: #181a1b;
        }
        .box span, .box ul, .box img, .box p, .box time {
          color: #e8e6e3;
        }
        .box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
          color: #c3beb6;
          /* color: #e8e6e3; */
        }
        body#app-body > section p {
          color: #e8e6e3;
        }
        body, #app-body {
          background-color: #242729;
        }
        .nav-link-selected {background-color: rgba(90,103,216,1); color: white}

        h1, h2, h3, h4, h5, h6 {
          color: #e8e6e3;
        }
      }
    </style>
    <div id="nav-border">
      <pre class="ascii-art">
{{ partial "ascii-art.html" }}
      </pre>
      <nav id="nav" class="nav">
        {{- $currentPageURL := .RelPermalink | relLangURL }}
        {{- $selectedNavItem := $currentPageURL -}}

        <!-- https://github.com/gohugoio/hugo/issues/9509
          find the most specific nav item the url falls under, other than / -->
        {{- $navLengths := slice -}}
        {{- range .Site.Menus.main }}
          {{- $navItemURL := .URL | relLangURL }}
          {{- if ne $navItemURL "/" -}}
            {{- $navLengths = $navLengths | append (dict "length" (len $navItemURL) "url" $navItemURL) -}}
          {{- end -}}
        {{- end -}}

        <!-- find the nav item that the current URL starts with
          makes sure to check the longest possibilities last,
          so it will end up with the longest one that matched -->
        {{ range sort $navLengths "length" "asc" }}
          {{- if hasPrefix $currentPageURL .url -}}
            {{- $selectedNavItem = .url -}}
          {{- end -}}
        {{ end }}

        {{- range .Site.Menus.main }}
          {{- $navItemURL := .URL | relLangURL }}
          <a target="_self" class="box nav-link{{ if eq $selectedNavItem $navItemURL }} nav-link-selected{{ end }}" href="{{ .URL }}">
            {{- print .Name | safeHTML -}}
          </a>
        {{- end -}}
      </nav>
    </div>
